MONGODB_URI=mongodb://127.0.0.1:27017/kounik_village_health_monitoring_system
JWT_SECRET=change-this-secret
PORT=4000
EMAIL_USER=kounikbarasat2020@gmail.com
EMAIL_PASS=atnc cfbe qivj plea
CONTACT_RECEIVER_EMAIL=kounikbarasat2020@gmail.com
EMAIL_SERVICE=gmail
